name: CI
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: AAA
        run: |

          set -x
          tag="${GITHUB_REF#refs/tags/}"

          if ! fgrep -qx "# $tag" release-notes.md; then
              echo "::error::release notes are missing, add them to 'release-notes.md' as '# $tag'"
              exit 67
          fi

          mpsVersion=1.2.3.4.5

          cat <<EOF >> $GITHUB_ENV
          releaseNotes<<EOF2
          - based on MPS $mpsVersion
          $(awk '/^# '"$tag"'$/ {on=1;next;} /^#/{on=0} on==1{gsub("%", "%25");printf "%s\n", $0}' release-notes.md)
          EOF2
          EOF

      - name: AAA
        run: |
          echo "secrets.GITHUB_TOKEN = ${{ secrets.GITHUB_TOKEN }}"
          echo "github.ref           = ${{ github.ref }}"
          echo "env.releaseNotes     = ${{ env.releaseNotes }}"

      - name: create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name    : ${{ github.ref }}
          release_name: release ${{ github.ref }}
          body        : ${{ env.releaseNotes }}
          draft       : false
          prerelease  : false
