name: Publish Docker image
on:
  push
jobs:
  push_to_registries:
    name: Push Docker image
    runs-on: ubuntu-latest
    steps:
      - #-------------------------------------------------------------
        name: Check out the repo
        uses: actions/checkout@v2
      - #-------------------------------------------------------------
        name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - #-------------------------------------------------------------
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
      - #-------------------------------------------------------------
        name: Builder instance name
        run: echo "TOMTOMTOM NAME=${{ steps.buildx.outputs.name }}";echo "TOMTOMTOM PLATFORMS=${{ steps.buildx.outputs.platforms }}"
      - #-------------------------------------------------------------
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ModelingValueGroup/test-image:latest
          build-args: |
            arg1=value1
            arg2=value2
      - #-------------------------------------------------------------
        name: Image digest
        run: echo "TOMTOMTOM DIGEST=${{ steps.docker_build.outputs.digest }}"
