#curl \
#   -X POST \
#   -H "Accept: application/vnd.github.v3+json" \
#   -H "Authorization: token xxxxx"  \
#   "https://api.github.com/repos/ModelingValueGroup/tmp/dispatches" \
#   -d '{"event_type":"push","client_payload":{"branch":"tom"}}'

name: CI
on: 
  repository_dispatch:
    types: push
jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: getBranch
        id: getBranch
        run: |
          branch="$(echo "${{ toJson(github.event.client_payload) }}" | fgrep 'branch' | sed 's/.*: //;s/,.*//')"
          echo "::set-output name=branch::$branch"
          
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{steps.getBranch.outputs.branch}}
          
      - run: git status
