name: CI
on: 
  repository_dispatch:
    types: [sample_push]
env:
  GITHUB_TOKEN: "${{secrets.GITHUB_TOKEN}}"
jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - run: |
          echo "hello world"
          echo "GITHUB_REF=$GITHUB_REF"
          echo "payload: ${{ github.event.client_payload }}"'
          echo "payload: ${{ toJson(github.event.client_payload) }}"'
